[submodule "doctest"]
	path = doctest
	url = git@github.com:doctest/doctest.git
[submodule "mdspan"]
	path = mdspan
	url = git@github.com:kokkos/mdspan.git
[submodule "raylib-cpp"]
	path = raylib-cpp
	url = git@github.com:RobLoach/raylib-cpp.git
